<ul class="nav nav-sidebar">
  <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-configuration-advertisment"><span class="icon icon-wrench"></span><span class="text">Anuncios</span><span class="icon icon-chevron-left pull-right"></span></a>
    <ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-configuration-advertisment">
      <%= tab Spree::Advertisment, url: admin_admin_advertisments_path, icon: "file", label: "Anuncios" %>
      <%= tab Spree::Advertisment, url: new_admin_advertisment_path, icon: "file", label: "Crear nuevo anuncio" %>
    </ul>
  </li>
</ul>
