<div data-hook="admin_advertisments_configurations_form_fields" class="row">
  <div class="col-xs-12 col-md-6">
    <div data-hook="code" class="form-group">
      <%= f.label :enable, Spree.t(:enable) %>
      <%= f.check_box "preferences", {checked: (f.object.get_preference(:enable) ? "checked" : '') }, {enable: true}, {enable: false} %>
    </div>
  </div>
</div>
